<%
	function toDegree(radian){	
		return radian / (Math.PI * 2 ) * 360;
	}
	var originalScreenSize = 400;
%>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
		<script src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>
    	<script> 
    	var rollingpaper = <%-JSON.stringify(paper)%>
    	$(document).ready(function(){
    			onBodyResize();
    			$(".sound_content").click(function(){
    					var audio = $( $(this).find("audio")[0] );
    					console.log(audio);
    					audio[0].play();
    			});
    	});
    	function onBodyResize(){
    			$(".retain_size_ratio_base_height").each(function(i,e){
		            	var $e = $(e);
			            var size_ratio = Number($(this).attr("size_ratio"));
			            var width = $(this).height() / size_ratio;
			            $(this).width(width);
			            var pos_ratio = Number($(this).attr("position_ratio"));
			            var left = $(this).position().top / pos_ratio;
			            $(this).css("left",left);
				});
		}
		</script>
		<!-- Apple 홈화면 추가 -->
		<link rel="apple-touch-icon" href="/images/Rolling_Paper_Logo.png" />
		<link rel="stylesheet" type="text/css" href="/css/paper-mobile.css">
		<!-- 건들지 말자 -->
		<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
		<script src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>
		<!-- mobile tap bar 전환 jquery -->
		<script>
			var contentToggle = false;
			function toggleContentView() {
				var slideFactor = 25;

				if (!contentToggle)
					$(".content_container").clearQueue().transit({
						"left" : "0%",
						"width" : "100%"
					});
				else
					$(".content_container").clearQueue().transit({
						"left" : slideFactor + "%",
						"width" : (100 - slideFactor) + "%"
					});
				contentToggle = !contentToggle;
			}
		</script>
		<!--Tap바 전환 script -->
		<!-- 건들지 말자  -->
		<title>Rolling Paper</title>

	</head>

	<body onresize="onBodyResize();">
		<div class="site_container">

			<div class="tab_container" >
			<div class="Logo" style="margin: 0.9em auto auto 0.3em;"></div>
			<!-- 로고 이미지란  -->
			<div class="Logo_Name" style="margin: auto auto auto 0.3em;"><h5>Rolling
				Paper</h5></div>
			<!-- 로고이름란 -->
			<div class="Logo_down_shadow" style="margin: 0.5em auto auto 0.5em;"></div>
			<!-- logo : 로고 선(border)과 그림자효과 (gradient) -->
			<div class="From_down_shadow" style="margin: auto auto auto 0.5em"></div>
			<!-- from : 로고 선(border)과 그림자효과 (gradient) -->
			<div class="Place_To" style="margin: 0.1em auto 0.2em 0.5em;">
				<h5>To.</h5>
			</div>
			<div class="Place_To_Name"><a
					href="https://www.facebook.com/<%-paper.receiver_fb_id%>" target=_blank><h5><%-paper.receiver_name%></h5></a></div>
			<!-- To. 받는사람이름 -->
			<div class="Place_Holder" style="margin: 0.1em auto 1em 0.6em;">
			</div>
			<!-- 받는 Title -->
			<div class="Place_Mark"></div>
			<!-- 큰따옴표 -->
			<div class="Place_Participate_Text"><h5><%-paper.title%></h5></div>
			<!-- 메세지 title적는 란 -->
			<div class="Place_From" style="margin: 0.1em auto 0.2em 0.4em;">
				<font face=arial><h5>From.</h5></font>
			</div>
			<!-- From. 보낸사람이름 -->
			<div class="Participate" style="margin: 0.1em auto 0.1em 0.6em;">
			<% paper.participants.forEach(function printBr(e, i, array) { %>
				<div class="Participate_List" style="margin: auto auto -0.9em 0.2em;">
					<div class="Part_Image"	style="margin: auto auto auto auto;">
						<a href="https://www.facebook.com/<%-e.facebook_id%>" target=_blank><img alt="name1"
							src="<%-e.picture%>" width=100% height=100%></a>
					</div>
					<div class="Part_Name" style="margin: auto auto auto auto;">
						<a href="https://www.facebook.com/<%-e.facebook_id%>"
							target=_blank><%-e.name%></a>
					</div>
				</div>
				<!-- Participate List -->
				<%});%>
			</div>
			<!-- 보내는 사람들 명단 -->
		</div> <!--LEFT BAR-->
		<!-- 건들지 말자  건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자 -->
		<div class="Content_container" style="left: 25%; overflow:hidden;">
		<%if(paper.contents.image){
						paper.contents.image.forEach(function(e,i) {
						var heightratio = e.height / originalScreenSize;
						var y_ratio = e.y / originalScreenSize;
						var size_ratio = e.height/e.width;
						var position_ratio = e.y/e.x; //占쎄퀣苑?占썬끇?곻쭪占쎄섯 占쎈뗀??占싼딆뵠筌앸뜆肉?占쏙옙釉??뚢뫂?쀯㎘醫롮벥 占쎈?????쑬占??④쑴沅쏉옙?뺣뼄
						%>
						<div class ="image_content retain_size_ratio_base_height" 
							position_ratio = "<%-position_ratio%>"
							size_ratio = "<%-size_ratio%>"
							style ="width:<%-e.width%>px;height:<%-heightratio*100%>%;position:absolute;left:<%-e.x%>px;top:<%-y_ratio*100%>%;-webkit-transform:rotate(<%-toDegree(e.rotation)%>deg);">
							<img style="width:100%;height:100%;" src="<%-e.image.replace('localhost',server_ip)%>"/>
						</div>
						<%});
					}%>
					<%if(paper.contents.sound){
						paper.contents.sound.forEach(function(e,i) {
						e.height = 50;
						e.width  = 50;
						e.rotation = 0;
						var heightratio = e.height / originalScreenSize;
						var y_ratio = e.y / originalScreenSize;
						var size_ratio = e.height/e.width;
						var position_ratio = e.y/e.x; //占쎄퀣苑?占썬끇?곻쭪占쎄섯 占쎈뗀??占싼딆뵠筌앸뜆肉?占쏙옙釉??뚢뫂?쀯㎘醫롮벥 占쎈?????쑬占??④쑴沅쏉옙?뺣뼄
						%>
						<div class ="sound_content retain_size_ratio_base_height" 
							position_ratio = "<%-position_ratio%>"
							size_ratio ="<%-size_ratio%>"
							style ="width:<%-e.width%>px;height:<%-heightratio*100%>%;position:absolute;left:<%-e.x%>px;top:<%-y_ratio*100%>%;-webkit-transform:rotate(<%-toDegree(e.rotation)%>deg);">
							<img style="width:100%;height:100%;" src="images/speaker2.png"/>
							<audio controls="controls" style="display:none">
								<source src="<%-e.sound.replace('localhost',server_ip)%>" type="audio/wav">
								Your browser does not support the audio element.
							</audio>
						</div>
						<%});
					}%>
			<button onclick="toggleContentView();">
				전환
			</button>
		</div>
		<!-- 건들지 말자  건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자건들지 말자 -->
		</div>
		<!-- SITE TOTAL CONTAINER-->
	</body>
</html>

